RedirectMatch (.*)contactez-nous/fr.html $1contactez-nous/fr.php
RedirectMatch (.*)pret-personnel-en-ligne/fr.html $1pret-personnel-en-ligne/fr.php
RedirectMatch (.*)credit-rapide-en-ligne/fr.html $1credit-rapide-en-ligne/fr.php
RedirectMatch (.*)credit-auto-en-ligne/fr.html $1credit-auto-en-ligne/fr.php
RedirectMatch (.*)credit-immobilier-en-ligne/fr.html $1credit-immobilier-en-ligne/fr.php
RedirectMatch (.*)credit-renouvelable-en-ligne/fr.html $1credit-renouvelable-en-ligne/fr.php
RedirectMatch (.*)tous-les-services-de-financement-en-ligne/fr.html $1tous-les-services-de-financement-en-ligne/fr.php
RedirectMatch (.*)creer-un-compte-bancaire-en-ligne/fr.html $1creer-un-compte-bancaire-en-ligne/fr.php
RedirectMatch (.*)meilleures-cartes-bancaires-en-ligne/fr.html $1meilleures-cartes-bancaires-en-ligne/fr.php
RedirectMatch (.*)financement-projets-en-ligne/fr.html $1financement-projets-en-ligne/fr.php
RedirectMatch (.*)meilleures-investissements-en-ligne/fr.html $1meilleures-investissements-en-ligne/fr.php
RedirectMatch (.*)assurance-personnelle-en-ligne/fr.html $1assurance-personnelle-en-ligne/fr.php
RedirectMatch (.*)epargner-votre-argent-en-ligne/fr.html $1epargner-votre-argent-en-ligne/fr.php
RedirectMatch (.*)epargner-votre-argent-en-ligne/fr.html $1epargner-votre-argent-en-ligne/fr.php
RedirectMatch (.*)a-propos-de-nous/fr.html $1a-propos-de-nous/fr.php
RedirectMatch (.*)nos-projets/fr.html $1nos-projets/fr.php
RedirectMatch (.*)mention-legale/fr.html $1mention-legale/fr.php
RedirectMatch (.*)index-2.htm(.*) $1index-2.php$2
RedirectMatch "^/$" /index.php
RedirectMatch "^/index.htm$" /index.php
RedirectMatch "^/index.html$" /index.php
#RedirectMatch "^/handy/handy2/index.html$" /handy/handy2/index.php
#RedirectMatch (.*)login.html(.*) $1login.php
